<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcl.mybatislearning.mapper.BlogMapper">

    <sql id="blogColumns">
        ${alias}.id, ${alias}.title, ${alias}.content, ${alias}.author, ${alias}.create_time, ${alias}.update_time
    </sql>
    
    <resultMap id="blogMap" type="com.tcl.mybatislearning.entity.Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="author" column="author" typeHandler="com.tcl.mybatislearning.handler.AuthorTypeHandler"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insertBlog"
            parameterType="com.tcl.mybatislearning.entity.Blog"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into blog (title, content, author)
        VALUES (#{title}, #{content}, #{author, typeHandler=com.tcl.mybatislearning.handler.AuthorTypeHandler});
    </insert>

    <update id="updateBlog">
        update blog
        set
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="content!= null">
                content=#{content},
            </if>
            <if test="author!=null">
                author = #{author}
            </if>
        where id = #{id};
    </update>

    <delete id="deleteBlogById">
        delete
        from blog
        where id = #{id};
    </delete>

    <select id="selectById" resultMap="blogMap">
        select *
        from Blog
        where id = #{id};
    </select>

    <select id="selectAll" resultType="com.tcl.mybatislearning.entity.Blog">
        select
            <include refid="blogColumns">
                <property name="alias" value="b"/>
            </include>
        from blog as b;
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(id)
        from blog;
    </select>
</mapper>